doctype
html( lang="en" )
    head
        title= title
        meta( charset='utf-8' )
        meta( http-equiv='X-UA-Compatible', content='IE=edge' )
        meta( name='viewport', content='width=device-width, initial-scale=1.0' )
        meta( name='description', content='Baking Bootstrap Snippets with Jade' )
        //- Bootswatch Theme
        link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css", rel="stylesheet")

    body(style="padding-bottom:10rem;")
        .container
            //- Navbar with dropdowns, default color
            include nav_bar.jade
            .page-header
            .row
                .col-xs-8.col-xs-12
                    <canvas id="myChart"></canvas>
                .col-xs-4.col-xs-12
                    include hearbeat.jade
                .col-xs-8.col-xs-12
                    .col-xs-3.col-xs-12
                        p: a.btn.btn-primary.btn-lg Précédent
                    .col-xs-3.col-xs-12
                        p: a.btn.btn-primary.btn-lg Suivant


            

            

            .page-header
                h1 footer
            .row
                // TO DO : ajouter un footer
                .col-sm-12
                    .list-group
                        a.list-group-item.active( href="#" )
                            h4.list-group-item-heading ajouter un footer
                            p.list-group-item-text footer footer footer .

        //script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
        script(src='http://code.jquery.com/jquery.js')
        script( src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js' )
        script( src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js' )
        script( src='/static/javascripts/graphique.js')