doctype
html( lang="en" )
    head
        title= title
        meta( charset='utf-8' )
        meta( http-equiv='X-UA-Compatible', content='IE=edge' )
        meta( name='viewport', content='width=device-width, initial-scale=1.0' )
        meta( name='description', content='Baking Bootstrap Snippets with Jade' )
        //- Bootswatch Theme
        link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css", rel="stylesheet")

    body(style="padding-bottom:10rem;")
        .container
            //- Navbar with dropdowns, default color
            include nav_bar.jade
            .page-header
                h2 ici le graph temps réel des batement de coeur et del temperature
            .row
                .col-xs-12
                    .panel.panel-success
                        .panel-heading: Temperature: #temp
                        .panel-body
                            include hearbeat.jade

            //- Jumbotron
            .page-header: h1 Historique en Graphe

            .jumbotron
                h1 Hello, world!
                p This is a simple hero unit, a simple jumbotron-style
                    component for calling extra attention to featured content or information.
                p: a.btn.btn-primary.btn-lg Learn more

            .page-header
                h1 footer
            .row
                // TO DO : ajouter un footer
                .col-sm-12
                    .list-group
                        a.list-group-item.active( href="#" )
                            h4.list-group-item-heading ajouter un footer
                            p.list-group-item-text footer footer footer .

        //script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
        script(src='http://code.jquery.com/jquery.js')
script( src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js' )